attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==45.0.5
Cython==3.1.2
dl==0.1.0
dnspython==2.7.0
docutils==0.22
fido2==2.0.0
gssapi==1.9.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
Jinja2==3.1.6
jnius==1.1.0
keyring==25.6.0
lockfile==0.12.2
mock==5.2.0
mysql_connector_python==9.4.0
numpy==2.3.2
oci==2.157.0
Pillow==11.3.0
protobuf==6.31.1
pymongo==4.13.2
pyOpenSSL==25.1.0
railroad==0.5.0
Sphinx==8.2.3
sqlparse==0.5.3
sspi==0.1.0
thread==2.0.5
tornado==6.5.1
trove_classifiers==2025.5.9.12
truststore==0.10.3
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
